header {
  width: 100%;
  height: auto;
}

nav {
  margin-left: 50px;
}

header form {
  display: inline-block;
  width: 500px;
  border-radius: 25px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 30px;
  margin-right: 60px;
  overflow: hidden;
}

header input[type="text"] {
  padding: 10px;
  border: none;
  width: 80%;
  float: left;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

header button[type="submit"] {
  padding: 8px 15px;
  background-color: #EA6564;
  padding: 10px 20px;
  border: none;
  color: #fff;
  float: right;
  width: 20%;
  border-radius: 0 25px 25px 0;
}

header button[type="submit"]:hover {
  background-color: #827C7C;
}

.row {
  display: flex;
  align-items: center;

}

.logo {
  margin-right: 130px;
  /* Arama formu ile logo arasına boşluk bırakmak için */
}


.actions {
  display: flex;
  margin-top: 0px;
}

.actions a {
  margin-left: 16px;
}

.login-button,
.cart-button {
  color: #EA6564;
  width: auto;
  box-sizing: border-box;
  text-align: center;
  display: grid;
  background-color: #f7f7f7;
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px solid black;

}

.login-button:hover,
.cart-button:hover,
.add-book-button:hover {
  background-color: #555;
}



ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.men li:nth-child(1) {
  position: relative;
  top: 10px;
  /* Aşağıya kaydırma miktarını belirleyin */
}

ul#main li {
  float: left;
  z-index: 1;
  position: relative;
  width: 150;

}

ul#main li ul {
  display: none;
  position: absolute;
  left: 0;
  top: 40px;


}

ul li a {
  display: block;
  width: 150px;
  height: 40px;

  line-height: 40px;
  background-color: #EA6564;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  background-color: #e24545;
  color: #fff;
  text-decoration: none;
}

ul#main li:hover ul {
  display: block;

}

.menu-container {
  display: flex;
  margin-left: 106px;

}

.sliders {
  margin-top: 10px;
}



.slider{
    margin-left: 20px;

  }
.keşfet {
  display: flex;
  color: #EA6564;

}

.sliderz-container {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}

.sliderz-list {
  width: 200%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slidez {
  width: calc(40% / 8);
}

.sliderz-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.sliderz-prev {
  left: 10px;
}

.sliderz-next {
  right: 10px;
}

.slidez img {
  width: 100px;
  height: 150px;
}
/*sepet*/
.btnkitap{
  display: inline-block;
  color: #000000;
  background-color:#ffffff;
  border-radius: 5px;
  border-color:#EA6564;
  

}
.takas{
  color:#f7f7f7;
  background-color:rgb(123, 192, 123);
  border: 1px solid black;
  border-radius: 5px;
}
.takas :hover{
  background-color:#ffffff;
}
footer {
  background-color:#EA6564;
  padding: 20px;
  text-align: center;
  color: #fff;
}